[data-template] {
  display:none;
}

.vis-network: {overflow:visible;}

.bg-light {
  background-color: #37474f;
}

.bg-dark {
  background-color: #263238;
}

.hover-bg-dark:hover {
  background-color: #263238;
}
